<!DOCTYPE html>
<html>
  <head>
    <title>hackNY webring</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/local.css" />
    <script type="text/javascript" src="./static/script.js"></script>
    <link rel="alternate" type="application/rss+xml" href="./feed.xml" title="Planet hackNY Feed" />
    <meta name="viewport" content="width=device-width, initial-scale=1;" />
  </head>
  <body>
    <header class="container">
      <img id="logo" src="logo.png" width="70" height="70" />
      web<span>ring</span>
    </header>
    <nav class="container">
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./planet.html">Planet</a></li>
      </li>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer class="container">
        &copy; {{ site.time | date: "%Y" }} hackNY. Website source can be found
        <a href="https://github.com/hackny/webring">here</a>.<br />
        All listed websites must follow hackNY's <a href="https://docs.google.com/document/d/1QrqwO4sRrDdLga3iROksF6Pchn03l3ZcnBD3OGstg88/edit#heading=h.2tcd9uku7xv8">code of conduct</a>.<br />
        <a href="mailto:steve@stevegattuso.me">Contact us</a> with any feedback or issues.
      </p>
    </footer>
  </body>
</html>
