<!DOCTYPE html>
<html>
  <head>
    <title>hackNY webring</title>
    <link rel="stylesheet" href="static/style.css" />
    <link rel="stylesheet" href="static/local.css" />
    <script type="text/javascript" src="./static/script.js"></script>
  </head>
  <body>
    <header class="container">
      <img id="logo" src="logo.png" width="70" height="70" />
      web<span>ring</span>
    </header>
    <nav class="container">
      <ul>
        <li><a href="./">Home</a></li>
        <li><a href="./planet.html">Planet</a></li>
      </li>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer class="container">
      &copy; {{ site.time | date: "%Y" }} hackNY. Website source 
      <a href="https://github.com/hackny/webring.hackny.org">here</a>.
    </footer>
  </body>
</html>
